
.todo-list {
  max-width: 500px;
  margin: 265px auto;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #ebfff3;
}
h1 {
  color: #d8d8d8;
}
.todo-list h1 {
  text-align: center;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border: 1px solid #900c0c;
  border-radius: 4px;
}

.input-group button {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #c04ecf;
  color: #000000;
  cursor: pointer;
}

.input-group button:hover {
  background: #132796;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

ul li.completed span {
  text-decoration: line-through;
}

ul li span {
  cursor: pointer;
}

ul li button {
  margin-left: 10px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background: #650967;
  color: #fff;
  cursor: pointer;
}

ul li button:hover {
  background: #40694f;
}

body {
  background: linear-gradient(120deg, #6fb4df 0%, #000000 100%);
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}